<html>
	<head>
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
	</head>
	<body>
		<img src="<%= @online_page[:url] %>" height="<%= @online_page[:image_height] %>" width="<%= @online_page[:image_width] %>" />
	</body>
</html>